page-home {
    #mySidenav {
      font-family: "Lato", sans-serif;
    }
  
    .butt {
      display: inline-block;  
     background-color: #ffb84d ;
      color: white;
      padding: 25px 35px;
      font-size: 17px;
      border-radius: 12px;
      border: 2px solid #e7e7e7 ;
      font-weight: bold;
      z-index: 1;
      position: fixed;
      top: 490px;
      left: 20%;
    }
  
    #output {
      display: inline-block;  
      background-color: #ffb84d;
      color: white;
      font-size: 16px;
      border-radius: 12px;
      border: 2px solid #e7e7e7;
      font-weight: bold;
      text-align: center;
      position: absolute;
      position: fixed;
      top: 150px;
      left: 24%;
      z-index: 1;
      
    }
  
   .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #ffb84d ;
      opacity: 0.8;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
  
   .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      transition: 0.3s;
    }
  
   .sidenav a:hover {
      color: black;
    }
  
   .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  
  
}